@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@font-face {
    font-family: 'Roboto-Regular';
    src: url('~/../assets/Roboto/Regular/Roboto-Regular-webfont.eot');
    src: url('~/../assets/Roboto/Regular/Roboto-Regular-webfont.woff') format('embedded-opentype'), url('~/../assets/Roboto/Regular/Roboto-Regular-webfont.woff2') format('woff2'), url('~/../assets/fonts/Roboto/Regular/Roboto-Regular-webfont.woff') format('woff'), url('~/../assets/fonts/Roboto/Regular/Roboto-Regular-webfont.ttf') format('truetype'), url('~/../assets/fonts/Roboto/Regular/Roboto-Regular-webfont.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.pi-ban:before {
    display: none!important;
    visibility: hidden!important;
}
.ui-rating a .ui-rating-icon{
       color: orange!important;
   }

   .p-toast-top-right {
    top: 80px;
    z-index: 99999!important;
}

.ui-toast-message{

    top: 50px;
    z-index: 99999!important;
}