<div class="container-fluid">
    <p-toast position="top-right"></p-toast>
    <div infinite-scroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="200"
        (scrolled)="loadMoreDataOnScroll()">

        <div class="row row-cols-md-5">

            <div class="col mb-4 d-flex flex-wrap" *ngFor="let movie of moviesShows;let i=index;">
                <div class="card">
                    <div class="movies-box">
                        <div class="movies-img ">
                            <div class="year">{{movie.releaseDate}}</div>
                            <img src="{{movie.coverImage}}" class="card-img-top" alt="...">
                        </div>
                        <a href="#">
                            {{movie.title}}
                            <p-rating [(ngModel)]="movie.avgRating" stars="10"
                                (onRate)="rateMovie(movie.movieId,movie.avgRating)">
                            </p-rating>
                        </a>
                        <div class="description">
                            {{movie.description}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center  pb-lg-5" *ngIf="hasNext && loading">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>