form{
  display: inline-flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  }

  .nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .active{
    background-color: grey!important;
  }